/*hide share buttons from sharedaddy*/
.sharedaddy{
	display: none;
}

/* end sharedaddy*/

.multi-search-container{
	border: 1px dotted #ccc;
	padding: 0 10px;
	margin-bottom: 5px;
	min-height: 300px;
}

.multi-search-result-title{
	margin: 0;
}

.multi-search-result-thumb{
	float: right;
	margin-left: 20px;
}

.multi-search-result-thumb img{
	max-width: 200px;
}

.multi_search_options *{
	list-style-type:none;
}
.sub_category_search{
	padding:0;
	margin:0;
}
.sub_category_search ul{
	padding-top:0;
	margin-top:0;
}

.multi-search-result-content, .multi-search-meta{
	margin-left: 20px;
}

.multi-search-catlist{
	font-weight:bold;
	font-size: 12px;
}